.bg-almost-white {
  background-color: #f6f9fc;
}
.fullheight {
  height: 100vh;
  overflow-y: scroll;
}
.custom-html-style p {
  color: #333 !important;
}

.custom-html-style ol li,
.custom-html-style ul li {
  color: #333 !important;
}

.list-item h1,
.list-item h2,
.list-item h3,
.list-item h4,
.list-item h5,
.list-item h6 {
  color: #333 !important;
}

.custom-html-style code {
  color: #333 !important;
}

option {
  color: #333;
}

#exampleSelect {
  color: #333;
}
